@model WinnowEntity.Models.ViewModels.PageEditViewModel

@{
    ViewData["Title"] = "Edit";
}


<h4>Add Quote</h4>
<hr />
<div class="col-md-4">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Quote.QuoteText" class="control-label"></label>
            <textarea asp-for="Quote.QuoteText" class="form-control"></textarea>
            <span asp-validation-for="Quote.QuoteText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quote.QuoteAuthor" class="control-label"></label>
            <input asp-for="Quote.QuoteAuthor" class="form-control" />
            <span asp-validation-for="Quote.QuoteAuthor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Page.Thought" class="control-label"></label>
            <textarea asp-for="Page.Thought" class="form-control"></textarea>
            <span asp-validation-for="Page.Thought" class="text-danger"></span>
        </div>  
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="PageDay">Back to Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
